$uni-color-primary: #d63f78;
$uni-color-success: #208563;
$uni-color-warning: #a66a10;
$uni-color-error: #c63950;
$uni-text-color: #192333;
$uni-text-color-inverse: #fff;
$uni-text-color-grey: #596578;
$uni-bg-color: #fff;
$uni-bg-color-grey: #f4f6fa;
$uni-border-color: #dce2ea;
